
<div class="container">
    <main role="main" calss="pb-3">
        <div calss="row">
            <div class="col-md-8 offset-md-2 jumbotron">
                <form method="post" action="/home/submitpost">
                    <input type="text" class="form-control" placeholder="title" name="title"/>
                    <br />
                    <textarea name="Text" placeholder="What's on your mind?" class="form-control" rows="20"></textarea>
                    <br />
                    <button class="btn btn-primary">Submit Post!</button>
                </form>
            </div>
        </div>
    </main>
</div>
